<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <section class="container text-center">
      <div class="jumbotron">
        <h1>Mission to Mars</h1>
          <p class="button">
            <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
          </p>
      </div>
    </section>

    <section class="container">
      <h2>Latest Mars News</h2>
      <hr>
      <h4>{{ mars.news_title }}</h4>
      <article style="font-size: medium;">{{ mars.news_p }}</article>
  </section>

  <section class="container">
      <div class="row">
          <div class="col-lg-7 col-md-12">
              <div class="box">
                  <h2>Featured Mars Image</h2>
                  <hr>
                  <img src="{{mars.img_url}}" alt='featured_image' />
              </div>
          </div>
          <div class="col-lg-5 col-md-12">
              <div class="box"></div>
              <h2>Mars Facts</h2>
              <hr>
              <p>{{mars.facts | safe}}</p>
          </div>
      </div>
  </section>

  <section class="container">
      <h2 style="text-align: center;">Mars Hemispheres</h2>
      <hr>
      <div class="row">
          {% for img in mars.hemisphere %}
          <div class="col-lg-3 col-sm-6">
              <div class="box">
                  <div style="padding: 10px 10px 10px 10px" class="row">
                      <img class="img-fluid img-thumbnail" src="{{ hemisphere.img_url | safe}}" />
                  </div>
                  <div class="row">
                      <p style="font-size: 16px; font-weight: bold; margin: 5px 20px 20px;">{{img_title}}</p>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </section>
</div>
</body>

</html>